body {
    background-color: rgb(185, 173, 144);
    font-family: Bahnschrift light, sans-serif;
    margin: 52px;
}
/* Style du formulaire */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}
/* Sélectionne tous les éléments avec la classe "title" */
.title {
    font-weight: bold; /* Texte en gras */
    font-family: Bauhaus 93, sans-serif;
    color: hsl(31, 70%, 20%);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}


/* Sélectionnez l'élément avec la classe "column" */
div.column {
    color: rgb(172, 135, 84); /* Par exemple, rouge (remplacez par la couleur de votre choix) */
    text-align: center;
}
/* Style des zones de saisie */
.input-box {
    margin-bottom: 15px;
    border-top: 1px solid #a9d3e2;
    color: #ffffff;
    padding: 10px;
    background-color: #7b6a49;
}

.input-box input, .input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bc6e3d;
    border-radius: 5px;
    font-size: 16px;
}
.input-box1 {
    margin-bottom: 15px;
    border-top: 1px solid #a9d3e2;
    color: #ffffff;
    padding: 10px;
    background-color: #7b6a49;
}
/* Autres styles CSS */

/* Change la couleur de fond des cases à cocher */
input[type="checkbox"] {
    background-color: rgb(197, 146, 111); /* Couleur marron */
}

/* Change la couleur de la bordure des cases à cocher (optionnel) */
input[type="checkbox"] {
    border-color: rgb(163, 121, 87); /* Couleur marron */
}

.input-box1 input, .input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #938787;
    border-radius: 5px;
    font-size: 16px;
}

/* Style des cases à cocher */
.langue-option, .langage-option {
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #315d7d;
    color: #0f1655;
    padding: 10px;
    background-color: #ffffff;
}
/* Changer la couleur du bouton radio */
input[type="radio"] {
    /* Changer la couleur de fond */
    background-color: rgb(87, 86, 62); /* Par exemple, bleu */
}

/* Changer la couleur de la case à cocher */
input[type="checkbox"] {
    /* Changer la couleur de fond */
    background-color: rgb(87, 85, 78); /* Par exemple, bleu */
}
/* Sélectionnez la balise legend avec l'attribut "align" égal à "middle" */
legend[align="middle"] {
    color: black; /* Couleur noire */
    font-weight: bold; /* Texte en gras */
    text-align: center;
    text-decoration: underline;
    font-family: Bauhaus 93, sans-serif;
}

/* Style du bouton de soumission */
#submit {
    background-color: #542407a2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#submit:hover {
    background-color: #9f8c56;
}
